<!DOCTYPE html>
<html lang="en">
<head>
	<title>Watch interesting videos!</title>
	<meta charset="utf-8">
	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="container">			
			<h1><em>A list of current videos.</em></h1>
			{% if video_list %}
				<p>
					{% for video in video_list %}
						<p><a href="{% url 'get_video' video.id %}">{{ video.video_link }}</a></p>
					{% endfor %}
				</p>
			{% endif %}	
		</div>
	</header>
</body>
</html>